<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giám sát điện</title>
    <link rel="stylesheet"   href="/css/giamsat.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
    <script src = "js/home.js"></script>
    <script src = "socket.io/socket.io.js"></script>
    <!-- <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script> -->
    <script src = "js/gauge.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script src = "js/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script> -->
    <script src = "js/jquery-ui.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script> -->
    <script src = "js/FileSaver.min.js"></script>
  

    <script src = "js/code.jscharting.com_latest_jscharting.js"></script>
    <script type="text/javascript" src="https://code.jscharting.com/latest/modules/types.js"></script>

    <script src = "js/plotly-latest.min.js"></script>

    <script src="/js/canvasjs.min.js"></script>
    <script src = "js/energy.js"></script>

    <link rel="stylesheet"   href="/css/energy.css">

<script>
var socket = io(document.location.host)  
</script>
</head>
<body onload="
chart_power('energy_power_chart','L1_power','L2_power','L3_power','Total_power','L1_power','L2_power','L3_power','Total_power');
">
    <%- include('header.ejs'); -%>
    <div class="main">
        <div class="energy_content">
            <div class="energy_content-gauges">
                <div class="energy_content-item">
                    <div class="gauges"     >
                        <div id="gauge_energy1"></div>
                        <p class="infogauge">Power L1 (KW)</p>
                    </div>
                    <script>gauge_power('gauge_energy1','L1_power');</script>
                </div>
                <div class="energy_content-item">
                    <div class="gauges"     >
                        <div id="gauge_energy2" ></div>
                        <p class="infogauge">Power L2 (KW)</p>
                    </div>
                    <script>gauge_power('gauge_energy2','L2_power');</script>
                </div>
                <div class="energy_content-item">
                    <div class="gauges"     >
                        <div id="gauge_energy3"></div>
                        <p class="infogauge">Power L3 (KW)</p>
                    </div>
                    <script>gauge_power('gauge_energy3','L3_power');</script>
                </div>
                      <div class="energy_content-item">
                <div class="gauges">
                    <div id="gauge_Total_power"></div>
                    <p class="infogauge">Total power (KW)</p>
                </div>
                <script>gauge_power_total('gauge_Total_power','Total_power');</script>
            </div>
            </div>
            <div  class="energy_content-chart">
                <div class="energy_content-chart--item">
                    <div id="energy_power_chart"></div>
                </div>
            </div>
        </div>
        <div class="energy_container">
            <div class="energy_container-gauges">
                <div class="gauges"     >
                    <div id="gauge_Total_energy"></div>
                    <p class="infogauge">Total energy (KWh)</p>
                </div>
                <script>gauge_energy_total('gauge_Total_energy','Total_Energy');</script>
            </div>
            <div class="energy_container-chart">Biểu đồ tổng</div>
        </div>
    </div>
</body>
</html>