<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giám sát điện</title>
    <link rel="stylesheet"   href="/css/giamsat.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
    <script src = "js/home.js"></script>
    <script src = "socket.io/socket.io.js"></script>
    <!-- <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script> -->
    <script src = "js/gauge.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <script src = "js/jquery-3.6.0.min.js"></script>
    <!-- <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script> -->
    <script src = "js/jquery-ui.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script> -->
    <script src = "js/FileSaver.min.js"></script>
    <script src = "js/plotly-latest.min.js"></script>
    <link rel="stylesheet"   href="css/home.css">

<script>
var socket = io(document.location.host)  
</script>
</head>
<body>
    <%- include('header.ejs'); -%>
    <div class="main"></div>
</body>
</html>