<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giám sát điện</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <%- include('header.ejs'); -%>
    <div class="main">
        <div class="container_chart">
            <div class="content">
                <div id="Baocao">
                    <!--Date time piker-->
                    <div class="input_item"> 
                        <label id="lb_Search_Start">Từ:</label>
                        <input id="dtpk_Search_Start" type="datetime-local">
                    </div>
                    <div class="input_item">
                        <label id="lb_Search_End">Đến:</label>
                        <input id="dtpk_Search_End" type="datetime-local">
                    </div>
                    <!--Nút tìm kiếm-->
                   <div class="input_item_btn">
                    <button id="btt_Search" class="btn" onclick="fn_SQL_By_Time();
                    "></i> TÌM KIẾM</button>
                    <script>fn_SQL_By_Time_display()</script>
                   </div>
            
                     <!--Nút Xuất Excel-->
                     <div class="input_item_btn">
                        <button id="btt_Excel" class="btn" onclick="fn_excel();
                        "></i> BÁO CÁO</button>
                        <script>fn_excel_display()</script>
                     </div>
                </div>
                      <!--Table display-->
                      <div id = "div_table_info">
                         <table id="table_info" >
                             <thead>
                             <tr >
            
                                 <th class="th_time" >Thời gian</th>
                         
                                 <th >L1-L2</th>
            
                                 <th >L2-L3</th>
            
                                 <th >L3-L1</th>
            
                                 <th >Phase L1-N</th>
                                 
                                 <th >Phase L2-N</th>
            
                                 <th >Phase L3-N</th>
            
                                 <th >Current L1</th>
                                 
                                 <th >Current L2</th>
            
                                 <th >Current L3</th>

            
                             </tr>
                             </thead>
                         </table>
                       </div>
            </div>
        
                   <div id="chart_detail" class="chart"></div>
                   </div>
    </div>
</body>
<script src = "js/home.js"></script>
<script src = "socket.io/socket.io.js"></script>

<!-- <script src="//cdn.rawgit.com/Mikhus/canvas-gauges/gh-pages/download/2.1.7/all/gauge.min.js"></script> -->
<script src = "js/gauge.min.js"></script>



<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<script src = "js/jquery-3.6.0.min.js"></script>


  <!-- <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script> -->
  <script src = "js/jquery-ui.min.js"></script>
  

  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script> -->
  
<script src = "js/FileSaver.min.js"></script>
  
  <script src = "js/plotly-latest.min.js"></script>
  <script>Draw_Chart_detail();  </script>

</html>