<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giám sát điện</title>
    <link rel="stylesheet"   href="css/home.css">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <script src="https://kit.fontawesome.com/4cc492911d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <div class="header_img">
            <img src="/images/logo/cropped-logo-thaco-industries.png" alt="logo thaco" >
        </div>
        <div class="checkbox_icon">
            <label class="fa-solid fa-bars" for="checkbox_sub-menu"></label>
        </div>
        <div class="header_content">
            <div class="header_content-item">
                <div class="time">
                    <h4>Thời gian hôm nay:</h4>
                    <p id="noti__title-time"></p>
                    <p id="noti__title-day"></p>
                </div>
            </div>
            <div class="header_content-item">
                <h2 class="header_content-title">Trích xuất</h2>
            </div>
            <div class="header_content-item">
                <h2 id="header_content-vol">
                 
                </h2>
                <script>fn_IOFieldDataShow('Total_Energy','header_content-vol',1,'Tổng điện tiêu thụ: ',"KWh");</script>
            </div>
        </div>
        <div class="header_title">
            <h2>Hệ Thống Giám Sát Điện R&D</h2>
        </div>
    </div>
    <input type="checkbox" name="" id="checkbox_sub-menu">
    <div class="sub_menu">
        <a href="http://localhost:8080/">Đồng hồ giám sát</a>
        <a href="http://localhost:8080/export">Trích xuất</a>
        <a href="http://localhost:8080/energy">Điện năng tiêu thụ</a>
    </div>
</body>

<script>
    const updateTime = () =>{
        const noti = document.querySelector('#noti__title-day');
        const noti_time = document.querySelector('#noti__title-time');
        const d = new Date().getDate();
        let m = new Date().getMonth();
        m = m + 1;
        const y = new Date().getFullYear();
        const h = new Date().getHours();
        const p = new Date().getMinutes();
        const s = new Date().getSeconds();
        noti.innerHTML = `Số liệu ngày: ${d}/${m}/${y}`;
        noti_time.innerHTML = `Thời gian: ${h}h:${p}p:${s}s`;
    }
    setInterval(updateTime, 1000);
    const url = window.location.pathname; // lấy đường dẫn đầy đủ
		const tachchuoi = url.split('/'); // tách đường dẫn thành các đoạn
		const value = tachchuoi[1]; // lấy giá trị ở đoạn thứ 2
        const title = document.querySelector('.header_content-title');
        const href = document.querySelectorAll('.sub_menu a');
        if(value == ""){
            title.innerHTML = "Đồng hồ giám sát"
            href[0].classList.add('active')
        }
        else if(value == "export"){
            href[1].classList.add('active')
        }
        else{
            title.innerHTML = "Điện năng tiêu thụ"
            href[2].classList.add('active')
        }
</script>
</html>