*{
    padding: 0;
    border: none;
    margin: 0;
    box-sizing: border-box;
}

.container_gauges
{
   width: 41%;
   margin-top: 70px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}
.gauges{
    position: relative;
    width: 100%;
    height: 100%;
}
.gauges div{
    position: absolute;
    width: 90%;
    height: 90%;
}
.gauges p{
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-60%);
    width: 100%;
}
.container_chart-gauges {
    flex: 1;
    background-color: #173752;
    margin-top: 75px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-height: 800px;
}

.content_chat{
    width: 100%;
    background-color:  #173752;
    height: calc(100% / 3);
}
.content_chat:not(:first-child){
    margin-top: 10px;
}