 .home-screen
 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
 }
 
 .container
 {
    width: 50%;
    height: 100%;
    top: 8%;
 }
 .container_chart{
    width: 100%;
    height: 80%;
    display: flex;
 }

 .gauges
 {
    margin: 20px; /* Đặt giá trị cho tất cả các cạnh */
    margin-top: 10px; /* Đặt giá trị cho cạnh trên */
    margin-right: 20px; /* Đặt giá trị cho cạnh phải */
    margin-bottom: 10px; /* Đặt giá trị cho cạnh dưới */
    margin-left: 20px; /* Đặt giá trị cho cạnh trái */
    
    max-width: 200px;
    height: 242px;
    margin: 0px auto
 
 }


 
 
 .row1
 {
    
    display: flex;
    justify-content: center;
    background-color: #173752;
    padding-bottom: 15px;
    margin-left: 8px;
    margin-right: 8px;
    
 }
 .row2
 {
    display: flex;
 }
 
 .row3
 {
    display: flex;
 }
 .infogauge
 {
    position: relative;
    font-weight: bold;
    left: 25%;
    color: #0bdedf;
 }

