/* mobile */
@media (max-width: 768px) {
    /* header */
    .header_content{
        display: none;
    }
    .header_img{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .header .header_title{
        display: none;
    }
    .container_chart{
        flex-direction: column;
    }
    .content{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    #Baocao{
        overflow-x: scroll;
    }
    #chart_detail{
        margin-left: 0;
        margin-right: 0;
    }
    #chart_detail{
        margin-top: 16px;
    }
    .sub_menu{
        overflow-x: scroll;
    }
    .sub_menu::-webkit-scrollbar{
        display: none;
    }
    /* end header  */

    /* giam sat */

    .content_chat{
        min-height: 240px;
    }
    .container_chart-gauges{
        margin-top: 16px;
    }
    .main{
        flex-direction: column;
    }
    .container_gauges{
        width: 100%;
    }
    /* end giam sat */

    /* export */
    #chart_detail{
        width: 100%;
    }
    .content{
        width: 100%;
    }
    /* end export */
}

/* >= Tablet */
@media (min-width: 740px) and (max-width:1113px) {
    /* header */
    .header_content .header_content-item:nth-child(2){
        display: none;
    }
    #Baocao{
        overflow: scroll;
    }
    .header_content{
        display: none;
    }
    .header_img{
        width: 35%;
    }
    .header_title{
        width: 40%;
    }
    .header{
        justify-content: space-around;
    }
    /* end header  */
}

/* PC medium resolution > */
@media (min-width: 1113px) and (max-width:1755px) {

    /* header */
    .header_content .header_content-item:nth-child(2){
        display: none;
    }
  /* end header  */
}
