/* mobile */
@media (max-width: 768px) {
    /* header */
    .header_content{
        display: none;
    }
    .header_img{
        width: 100%;
    }
    .header .header_title{
        display: none;
    }
    .container_chart{
        flex-direction: column;
    }
    .content{
        margin-left: 0;
        margin-right: 0;
    }
    #Baocao{
        overflow-x: scroll;
    }
    #chart_detail{
        margin-left: 0;
        margin-right: 0;
    }
    #chart_detail{
        margin-top: 16px;
    }

    /* end header  */
}

/* >= Tablet */
@media (min-width: 740px) and (max-width:1113px) {
    /* header */
    .header_content .header_content-item:nth-child(2){
        display: none;
    }

    /* end header  */
}

/* PC medium resolution > */
@media (min-width: 1113px) and (max-width:1755px) {

    /* header */
    .header_content .header_content-item:nth-child(2){
        display: none;
    }
  /* end header  */
}
