/* mobile */
@media (max-width: 768px) {
    /* header */
    .header_content{
        display: none;
    }
    .header_img{
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .header .header_title{
        display: none;
    }
    .container_chart{
        flex-direction: column;
    }
    .content{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        max-height: 300px;
    }
    #Baocao{
        overflow-x: scroll;
    }
    #chart_detail{
        margin-left: 0;
        margin-right: 0;
    }
    #chart_detail{
        margin-top: 16px;
    }
    .sub_menu{
        overflow-x: scroll;
    }
    .sub_menu::-webkit-scrollbar{
        display: none;
    }
    .checkbox_icon{
        display: block;   
    }
    .sub_menu{
        display: none;
    }
    /* end header  */

    /* giam sat */

    .content_chat{
        min-height: 240px;
    }
    .container_chart-gauges{
        margin-top: 16px;
    }
    .main{
        flex-direction: column;
    }
    .container_gauges{
        width: 100%;
    }
    .row1:nth-child(2){
        margin: 10px 8px;
    }
    .row1 .gauges{
        padding: 0;
    }
    .row1{
        flex-wrap: wrap;
    }
    /* end giam sat */

    /* export */
    #chart_detail{
        width: 100%;
    }
    .content{
        width: 100%;
        min-height: 500px;
    }
    #div_table_info {
        max-height: 400px;
    }
    /* end export */

    /* energy */
    .energy_content{
        width: 100%;
        margin-left: 0;
    }
    .energy_container{
        width: 100%;
        margin-left: 0;
        margin-top: 16px;
    }
    .energy_content-gauges{
        flex-wrap: wrap;
    }
    .energy_content-item{
        width: 50%;
    }
    .energy_content-item:not(:first-child){
        margin: 0;
    }
    .energy_content-item:nth-child(1){
        border-radius: 0 0 10px 0;
    }
    .energy_content-item:nth-child(2){
        border-radius: 0 0 0 10px;
    }
    .energy_content-item:nth-child(3){
        border-radius: 0 10px 0 0;
    }
    .energy_content-item:nth-child(4){
        border-radius: 10px 0 0 0;
    }

    /* end energy */
}


/* >= Tablet */
@media (min-width: 740px) and (max-width:1113px) {
    /* header */
    .header_content .header_content-item:nth-child(2){
        display: none;
    }
    #Baocao{
        overflow: scroll;
    }
    .header_content{
        display: none;
    }
    .header_img{
        width: 35%;
    }
    .header_title{
        width: 40%;
    }
    .header{
        justify-content: space-around;
    }
    /* end header  */
    .checkbox_icon{
        display: block;   
    }
    .sub_menu{
        top: calc(var(--height-header) + 20px);
        display: none;
    }
}

/* PC medium resolution > */
@media (min-width: 1113px) and (max-width:1755px) {

    /* header */
    .header_content .header_content-item:nth-child(2){
        display: none;
    }
    .header_title h2{
        font-size: 25px;
    }
  /* end header  */
  .checkbox_icon{
    display: block;   
}
.sub_menu{
    top: calc(var(--height-header) + 20px);
    display: none;
}
}
